.light{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.switch-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}